# .gitignore,
__pycache__
.coverage*
htmlcov
*.pyc
*egg*
!robots.txt
junit.xml
dist/
build/
.env*
pgdata
*.db
flakehell.json
certificates/
artifacts/

node_modules/
**/dist/styles.css
fjmwebsite/static/fontawesomefree
fjmwebsite/static/admin
fjmwebsite/static/css

*.csv
